name: Bleeding edge release

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # https://github.com/marketplace/actions/setup-java-jdk
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Cache Maven Packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots -Dmaven.javadoc.skip=true verify --file pom.xml

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: my-artifact
          path: |
            ./target/Shimeji-ee_1.0.22_Calm.zip
            ./target/Shimeji-ee_1.0.22_Professional.zip
            ./target/Shimeji-ee_1.0.22_Mischievous.zip

  upload:
    needs: [ build ]
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7

      - run: |
          gh release delete bleedingedge --cleanup-tag --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        continue-on-error: true # In case the release doesn't exist and the execution fails

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: bleedingedge
          name: Bleeding edge
          prerelease: true
          fail_on_unmatched_files: true
          files: |
            **/*
          body: |
            This is the latest snapshot of Shimeji-Desktop.
