name: Bleeding edge release

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: my-artifact
          path: |
            ./target/Shimeji-ee_1.0.22_Calm.zip
            ./target/Shimeji-ee_1.0.22_Professional.zip
            ./target/Shimeji-ee_1.0.22_Mischievous.zip
            ./target/src.zip

  upload:

    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - run: |
          gh release delete bleedingedge --cleanup-tag --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        continue-on-error: true # In case the release doesn't exist and the execution fails
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: bleedingedge
          name: Bleeding edge
          prerelease: true
          fail_on_unmatched_files: true
          files: |
            */*
#          body: |